{%liquid
  assign card_radius = block.settings.card_radius
  assign border = block.settings.border
  assign border_color = block.settings.border_color
  assign img = block.settings.image
  assign img_radius = block.settings.img_radius
  assign column_width = block.settings.column_width
  assign title = block.settings.title
  assign description = block.settings.description
  assign btn_link = block.settings.btn_link
  assign btn_text = block.settings.btn_text
  assign text_align = block.settings.text_align
  assign btn_text_color = block.settings.btn_text_color
  assign btn_bg_color = block.settings.btn_bg_color
  assign btn_padding = block.settings.btn_padding
  assign title_size = block.settings.title_size
  assign btn_width = block.settings.btn_width
  assign btn_radius = block.settings.btn_radius
  assign title_color = block.settings.title_color
  assign description_color = block.settings.description_color
  assign description_size = block.settings.description_size
  assign line_height = block.settings.line_height
%}

<div class="card-wrapper">
  <div class="card">
    {% if img != "blank" %}
      <img src="{{ img | img_url: '1200x' }}" alt="Card Image">
    {% endif %}
    
    <h1 class="title">{{ title }}</h1>
    <p>{{ description }}</p>
    
    {% if btn_link != "blank" %}
      <a class="card_btn" href="{{ btn_link }}">{{ btn_text }}</a>
    {% endif %}
  </div>
</div>

<style>
  .card-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
  }

  .card {
    flex: 1 1 {{ column_width | default: '25%' }};
    max-width: {{ column_width | default: '25%' }};
    text-align: {{ text_align }};
    margin: 10px;
    border-radius: {{ card_radius }}px;
    border: {{ border }}px solid {{ border_color }} !important;
    box-sizing: border-box;
    padding: 15px;
  }

  .card img {
    max-width: 100%;
    border-radius: {{ img_radius }}px;
    display: block;
  }

  .card .title {
    padding: 0;
    margin: 10px 0;
    font-size: {{ title_size }}px;
    color: {{ title_color }};
    line-height: 30px;
  }

  .card p {
    padding: 0;
    margin: 0;
    font-size: {{ description_size }}px;
    line-height: {{ line_height }}px;
    color: {{ description_color }};
  }

  {% if btn_link != "blank" %}
  .card a {
    text-decoration: none;
    color: {{ btn_text_color }};
    background-color: {{ btn_bg_color }};
    padding: {{ btn_padding }}px;
    width: {{ btn_width }}%;
    display: inline-block;
    margin-top: 10px;
    text-align: center;
    border-radius: {{ btn_radius }}px;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid black;
  }
  {% endif %}
</style>
